<!DOCTYPE html>
<html>
<head>
  <style>
    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + img {
      border: 2px solid green;
    }
  </style>
</head>
<body>

  <h1>Create business Card</h1>

  <form enctype="multipart/form-data" action = "/post" method = "post">
    <label>
      <input type="radio" name="template" value="1">
      <img src="https://founderx.mysave.app/templates/1.jpg" alt="Image 1">
    </label>
    <label>
      <input type="radio" name="template" value="2">
      <img src="https://founderx.mysave.app/templates/2.jpg" alt="Image 2">
    </label>
    
    <br/>
    <br/>
    <label for="name">Enter your name:</label>
    <input type="text" id="name" name="name" required>
    <br/>

    <br/>
    <label for="upload-image">Upload your image:</label>
    <input type="file" id="upload-image" name="upload-image" accept="image/*" required>
    <br/>

    <br/>
    <input type="submit" value="Update">
  </form>

</body>
</html>
